<div class="card w-100 h-100">
  <div *ngIf="!!manga; then mangaPresent; else mangaAbsent"></div>
  <ng-template #mangaPresent>
    <div
      class="card-body d-flex flex-column justify-content-center align-items-center"
    >
      <h4 class="card-title text-center">{{ manga?.title }}</h4>
      <h5
        *ngIf="!!manga?.otherTitle"
        class="card-subtitle mb-2 text-secondary text-center"
      >
        {{ manga?.otherTitle }}
      </h5>
    </div>
    <div
      class="card-img-bottom d-flex justify-content-center align-items-center"
    >
      <div *ngIf="!!manga?.imageUrl; then imagePresent; else imageAbsent"></div>
      <ng-template #imagePresent>
        <img
          *ngIf="!!manga?.imageUrl"
          [src]="'assets/manga-covers/' + manga?.imageUrl"
          class="img-fluid"
          [alt]="manga?.title"
        />
      </ng-template>
      <ng-template #imageAbsent>
        <div class="d-flex justify-content-center align-items-center">
          Pas d'image
        </div>
      </ng-template>
    </div>
  </ng-template>
  <ng-template #mangaAbsent>
    <div class="card-body">
      <span class="text-danger">Erreur : manga non renseigné</span>
    </div>
  </ng-template>
</div>
