<div class="row mb-5">
  <div class="col">
    <div class="d-flex justify-content-center align-items-center">
      <button type="button" class="btn btn-primary" (click)="gotToHomeScreen()">
        Retour à l'accueil
      </button>
    </div>
  </div>
</div>
<div *ngFor="let entry of mangasPerLevel.entries()">
  <h3 class="text-center my-5">Niveau {{ entry[0] }}</h3>
  <div class="row g-5">
    <div
      class="col-12 col-md-6 col-lg-4 col-xxl-3"
      *ngFor="let manga of entry[1]"
    >
      <manga-card [manga]="manga"></manga-card>
    </div>
  </div>
</div>
