<div class="row">
  <ng-container *ngFor="let manga of mangasShuffled">
    <div
      *ngIf="isCurrentManga(manga.id)"
      class="col-12 col-md-6 col-lg-4 col-xxl-3 mx-auto"
      style="height: 28rem"
    >
      <manga-card [manga]="manga"></manga-card>
    </div>
  </ng-container>
</div>
<div class="row mt-5">
  <div class="col">
    <h5 class="text-center">Connaissez-vous cette licence ?</h5>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <button
        type="button"
        (click)="mangaKnown()"
        class="btn btn-xl btn-success mx-3"
        style="line-height: 75%"
      >
        Oui
        <span style="font-size: 50%"><br />(flèche gauche)</span>
      </button>
      <button
        type="button"
        (click)="mangaNotKnown()"
        class="btn btn-xl btn-danger mx-3"
        style="line-height: 75%"
      >
        Non<span style="font-size: 50%"><br />(flèche droite)</span>
      </button>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-3">
      <button
        type="button"
        [disabled]="currentMangaIndex === 0"
        (click)="backOne()"
        class="btn btn-secondary"
      >
        Précédent<span style="font-size: 75%"><br />(flèche haute)</span>
      </button>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <p class="text-center text-muted">
      Avancement :
      {{ Math.floor((100 * (currentMangaIndex + 1)) / mangasShuffled.length) }}%
      ({{ currentMangaIndex + 1 + "/" + mangasShuffled.length }})
    </p>
  </div>
</div>
