<div class="row">
  <div class="col-12 col-md-6 mx-auto mb-5">
    <p class="text-center">
      Ce site classe des mangas par niveau de popularité en France de la licence
      liée.
    </p>
    <p class="text-center">
      Les critères suivants sont requis pour qu'un manga figure dans la liste :
    </p>
    <div class="row justify-content-center">
      <ul class="col-12 col-md-8 list-group mb-3">
        <li class="list-group-item text-center">
          Le manga est d’origine japonaise
        </li>
        <li class="list-group-item text-center">
          Le manga a été publié en version papier en France et en français il y
          a plus de 5 ans
        </li>
        <li class="list-group-item text-center">
          Le manga n'est pas adapté d’une œuvre littéraire préexistante
        </li>
        <li class="list-group-item text-center">
          Le manga n'est pas un one-shot
        </li>
      </ul>
    </div>
    <p class="text-center">
      À partir du classement des mangas par niveau de popularité, un test est
      proposé pour vous évaluer sur votre connaissance des mangas.
    </p>
  </div>
</div>
<div class="d-flex justify-content-center align-items-center">
  <button type="button" class="btn btn-primary mx-3" [routerLink]="'/test'">
    Faire le test
  </button>
  <button type="button" class="btn btn-primary mx-3" [routerLink]="'/liste'">
    Liste des mangas par niveau
  </button>
</div>
